<%= $game.current_turn.name %> attacked <%= $game.next_turn.name %>

<br>

<%= $game.next_turn.name %> 's HP is now <%= $game.next_turn.hp %>

<form action="/play">
  <input type="submit" value="Ok">
</form>